# Python bytecode
__pycache__/
*.py[cod]
*.so

# Environment
.env
.venv/
venv/
env/

# VSCode / PyCharm
.vscode/
.idea/

# macOS
.DS_Store

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System
Thumbs.db
ehthumbs.db
